<form method="POST" action="/new">
    <label for="username">Username</label>
    <input type="text" name="username" />
    <label for="text">Text</label>
    <input type="text" name="text" />
    <input type="submit" value="Submit">
</form>