<html>

<body>
    <div>
        <% messages.forEach(({text, username, added}, index)=> { %>
            <div>
                <div>
                    <b>
                        <%= username %>
                    </b>
                </div>
                <div>
                    <%= text %>
                </div>
                <div>
                    <i>
                        <%= added %>
                    </i>
                </div>
                <div>
                    <a href="/msg/<%= index + 1 %>">Open</a>
                </div>
                <hr>
            </div>
            <% }) %>

    </div>
    <div>
        <a href="/new">Add a message</a>
    </div>
    <div>
        <div>Features</div>
        <ol>
            <li>Read all messages</li>
            <li>Add a new message</li>
            <li>Read a specific message</li>
        </ol>
    </div>

</body>

</html>